<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-4">
        </div>
        <% if(list.length > 0){ %>
          <h3 class="fw-normal mb-0">Orden de compra #<%= order.orderN %></h3></br>
          <span><strong>Email: </strong><%= order.buyer %></span></br>
          <span><strong>Fecha y Hora: </strong><%= order.date %></span></br>
          <span><strong>Estado: </strong><%= order.state %></span></br>
            <% list.forEach(obj => { %>
                  <div class="card bg-black my-5 bordes-neon p-3">
                      <div class="card-body p-4">
                      <div class="row d-flex justify-content-between align-items-center">
                          <div class="col-md-2 col-lg-2 col-xl-2">
                          <img src=<%= obj.thumbnail %> class="img-fluid" alt="Imagen Producto"/>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-3">
                          <p class="lead fw-normal mb-2"><%= obj.title %></p>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-2 d-flex justify-content-center">                    
                          <span class="mx-3 fs-3"><%= obj.qty %></span>
                          </div>
                          <div class="col-md-3 col-lg-2 col-xl-3 justify-content-center">
                          <h6 class="mb-0">Precio Unitario: <%= obj.price %> U$S <img class='mb-1' width="20" height="20" src="/assets/img/logos/usdtlogo.svg" alt='tether'/> <img class='mb-1' width="20" height="20" src="/assets/img/logos/usdclogo.svg" alt='USD Coin'/></h6>
                          <h5 class="mb-0 fs-5">Total: <%= obj.qty * obj.price %> U$S <img class='mb-1' width="23" height="23" src="/assets/img/logos/usdtlogo.svg" alt='tether'/> <img class='mb-1' width="23" height="23" src="/assets/img/logos/usdclogo.svg" alt='USD Coin'/></h5>
                          </div>
                      </div>
                      </div>
                  </div>
                <% })%>
            <div class="d-flex justify-content-center">
              <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="fs-4">Articulos</span>
                  <span class="fs-4 p-2 rounded-pill bordes-neon"><%= qtyItems %></span>
                </h4>
                <ul class="bg-black list-group mb-3 bordes-neon mt-4">
                  <li class="bg-black list-group-item d-flex justify-content-between">
                    <span class='fs-5'>Total (U$S) / <img class='mb-1' width="20" height="20" src="/assets/img/logos/usdtlogo.svg" alt='tether'/> / <img class='mb-1' width="20" height="20" src="/assets/img/logos/usdclogo.svg" alt='USD Coin'/></span>
                    <strong class='fs-5' id="total"><%= order.total %></strong>
                  </li>
                </ul>
              </div>
            </div>
            <% if(isAdmin){ %>
            <div class="container my-3">
              <form action="?_method=PUT" method="post" class="my-3">
                <h2 class="fs-4">Modificar estado | Eliminar Orden</h2>
                <label class="h5 my-2" for="state">Estado</label>
                <input list="state" class="form-control w-25" name="state" placeholder="Seleccione Estado" required>
                  <datalist id="state">
                    <option value="Generada">
                    <option value="Confirmada">
                    <option value="Pendiente de pago">
                    <option value="En proceso de envío">
                    <option value="Enviada">
                    <option value="Recibida por el cliente">
                    <option value="Suspendida">
                    <option value="Cancelada">
                  </datalist>
                <input class="rounded-0 btn btn-success font-weight-bold text-white mt-3" type="submit" value="Modificar" class="button">
              </form>
                <form action="?_method=DELETE" method="post">
                  <input type="hidden" id="id_cart" name="id_cart" class="form-control" required value = <%= id_cart %>>
                  <button type="submit" class="rounded-0 btn btn-danger font-weight-bold text-white">Eliminar</button>
                </form>
          </div>
          <%}%>
        <%}else{%>
            <div class="card-body cart">
                <div class="col-sm-12 empty-cart-cls text-center">
                    <h3><strong>Esta orden está vacia</strong></h3>
                    <a href="javascript:window.history.back();"><button type="button" class="px-3 btn-view fs-5">Volver</button></a>
                </div>
            </div>
        <%}%>
      </div>
    </div>
  </div>