<% if(exist){ %>
    <div class="container col-xxl-8 px-3 py-3 my-5 bordes-neon bg-black">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src=<%= item.thumbnail %> class="d-block mx-lg-auto img-fluid" alt="Imagen producto" width="700" height="500" loading="lazy"/>
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3"><%= item.title %></h1>
                <h2 class="display-7 fw-bold lh-1 mb-3 fs-2">Precio: <%= item.price %> U$S <img class='mb-1' width="25" height="25" src="/assets/img/logos/usdtlogo.svg" alt='tether'/> <img class='mb-1' width="25" height="25" src="/assets/img/logos/usdclogo.svg" alt='USD Coin'/></h2>
                <span>Codigo: <%= item.code %></span>
                <p class="lead">ID: <%= item.id %></p>
                <p class="lead"><%= item.description %></p>
                <p class="lead fs-4">Disponibles: <%= item.stock %></p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <form action="/carrito?_method=PUT" method="post" class="mt-2" style="width: 22rem;">
                        <input type="hidden" id="id_prod" name="id_prod" class="form-control" required value = <%= item.id %>>
                        <input type="number" id="qty" name="qty" class="w-25 form-control mb-3" min=1 max=<%= item.stock %> value=1>
                        <button type="submit" class="p-2 btn-view">Añadir al Carrito</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% if(isAdmin){ %>
        <div class="container">
            <%- include('../partials/formEdit.ejs')%>
        </div>
    <% }%>
        <%}else{%>
        <%- include('../partials/404product.ejs')%>
        <%}%>